extends partials/templates/_template.pug

block content

    //Promo
    include partials/components/_promo.pug
    //Work
    include partials/components/_work.pug
    //Maneger Gallery
    include partials/components/_maneger-gallery.pug
    //Advantages
    include partials/components/_advantages.pug
    //Reviews
    include partials/components/_reviews.pug
    // Contacts
    include partials/components/_contacts.pug