extends partials/templates/_template.pug

block content

    //Promo
    include partials/components/_promo.pug
    //Services
    include partials/components/_services.pug
    //Advantages
    include partials/components/_advantages.pug
    //Reviews
    include partials/components/_reviews.pug
    // Ask manager
    include partials/components/_manager.pug
    // Clients
    include partials/components/_clients.pug

