extends partials/templates/_template.pug

block content

    //News
    include partials/components/_news.pug
    // Ask manager
    include partials/components/_manager.pug
    // Contacts
    include partials/components/_contacts.pug