extends partials/templates/_template.pug

block content

    //Services
    include partials/components/_services-header.pug
    //Services
    include partials/components/_services--page.pug
    //Promo
    include partials/components/_promo.pug
    //Reviews
    include partials/components/_reviews.pug
    //Work
    include partials/components/_work.pug
    //Contacts
    include partials/components/_contacts.pug
