extends partials/templates/_template.pug

block content

    //Page
    include partials/components/_page.pug
    // Ask manager
    include partials/components/_manager.pug
    //Advantages
    include partials/components/_advantages.pug
    //Reviews
    include partials/components/_reviews.pug
    //Work
    include partials/components/_work.pug
    // Contacts
    include partials/components/_contacts.pug