extends partials/templates/_template.pug

block content

    //Reviews
    include partials/components/_reviews-header.pug
    //Gratitude
    include partials/components/_gratitude.pug
    // Ask manager
    include partials/components/_manager.pug
    // Contacts
    include partials/components/_contacts.pug