extends partials/templates/_template.pug

block content

    //Services
    include partials/components/_certification.pug
    //Interesting
    include partials/components/_interesting.pug
    // Ask manager
    include partials/components/_manager.pug
    //Work
    include partials/components/_work.pug
    // Clients
    include partials/components/_clients.pug
    // Contacts
    include partials/components/_contacts.pug
