.header{
  @include mq($from:xs, $until:lg){
    padding: 0 20px;
  }

  &__inner{
    padding: 15px 0;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    @include mq($from:xs, $until:lg){
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px 20px 0;
    }
  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @include mq($from:xs, $until:sm){
      justify-content: center;
    }
  }
  &__box {
    flex: 0 0 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
    }
  }
  &__buttons{
    flex: 0 0 25%;
    text-align: right;
    max-width: 250px;
    margin-top: 25px;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      text-align: center;
    }
    .btn{
      margin-bottom: 10px;
    }
  }
}

.logo{
  flex: 0 0 35%;
  @include mq($from:xs, $until:lg){
    flex: 0 0 100%;
    margin-top: 0;
    text-align: center;
  }
  // @include mq($from:xs, $until:sm){
  //   flex: 0 0 100%;
  // }
  &__img{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    @include mq($from:xs, $until:lg){
      margin: 0 auto;
    }
    img {
      align-items: flex-start;
    }
  }
}

.city{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 7px;
  @include mq($from:xs, $until:lg){
    flex-direction: column;
    text-align: center;
  }
  &__name-wrapper{
    position: relative;
    margin-bottom: 5px;
  }
  &__dropdown{
    display: none;
    text-align: left;
    position: absolute;
    z-index: 3;
    bottom: 0px;
    right: 0;
    padding-left: 0;
    margin: 0;
    transform: translateY(100%);
    list-style-type: none;
    border: 1px solid $black;
    background-color: $body-bg;
  }
  &__item{
    cursor: pointer;
    padding: 5px 15px;
    @include transition();
    &:hover, &:focus{
      // background-color: $blue-darker;
      // color: $white;
    }
  }
  &__tel{
    display: block;
    color: $text-color;
    font-weight: $semibold;
    margin-bottom: 5px;
    position: relative;
    &:before{
      content: "";
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 3px;
      position: absolute;
      bottom: 0;
      transform: translateX(-120%);
    }
  }
  &__email{
    display: block;
    color: $text-color;
    margin-bottom: 5px;
  }


  &--spb{
    .city__name{
      &:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        @include sprite($s-icon-down);
      }
      &:hover, &:focus{
        cursor: pointer;
      }
    }
  }
}

.socials {
  margin: -3px 0 0 0;
  padding-left: 0;
  @include mq($from:xs, $until:lg){
    margin: 5px 0;
  }
  &__item {
    display: inline-block;
    padding: 0 10px;
    &:last-of-type {
      padding-right: 0;
    }
  }
  &__link {
    display: block;
    &--telegram {
      @include sprite($s-header_telegram);
    }
    &--viber {
      @include sprite($s-header_viber);
    }
    &--whatsup {
      @include sprite($s-header_whatsapp);
    }
    &--skype {
      @include sprite($s-header_skype);
    }
  }
}
