.nav{
  &__hamburger{
    display: none;
    text-align: center;
    flex: 0 0 100%;
    @include mq($from:xs, $until:lg){
      display: block;
    }
  }
  &__list-wrapper{
    flex: 0 0 75%;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      display: none;
    }
  }
  &__list{
    margin: 27px 0 20px;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq($from:xs, $until:lg){
      padding: 0;
      text-align: center;
      margin: 0;
    }
  }
  &__item{
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      padding: 5px 0;
    }
  }
  &__link{
    color: $text-color;
    font-weight: $semibold;
    font-size: $font-size-nav;
    @include transition();
    &:hover {
      color: $dark-orange;
    }
  }
  .btn {
    margin: -10px;
    @include mq($from:xs, $until:lg){
      margin: 0;
    }
  }
}

.hamburger{
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  span{
    display: block;
    width: 30px;
    margin: 0 auto;
    height: 3px;
    background-color: $orange;

    &:after, &:before{
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: $orange;
    }
    &:before{
      transform: translateY(-250%);
    }
    &:after{
      transform: translateY(150%);
    }
  }
}
