//Reviews

.reviews {
  text-align: center;
  position: relative;
  z-index: 1;
  &:before {
    position: absolute;
    content: '';
    @include sprite($s-review1);
    bottom: 10%;
    right: 7%;
    @include mq($from:xs, $until:md){
    display: none;
    }
  }
  &:after {
    position: absolute;
    content: '';
    @include sprite($s-review2);
    top: 10%;
    left: 4%;
    @include mq($from:xs, $until:md){
    display: none;
    }
  }
  .container {
    padding: 30px;
  }
  &__title {
    font-size: 24px;
    text-transform: uppercase;
     font-weight: normal;
     font-family: $font-family-semibold;
  }
  &__slide {
    position: relative;
    z-index: 100;
    margin: 30px;
    outline: none;
    text-align: left;
    background-color: $white;
    box-shadow: 3px 3px 5px 0 rgba(183,183,183,1);
    padding: 30px;
    line-height: 1.8;
    font-size: 14px;
    font-family: $font-family-thin;
    @include mq($from:xs, $until:sm){
      padding: 10px 5px;
      margin: 10px;
    }
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
  }

  .slick-slider {
    z-index: 100;
  }

  .slick-arrow{
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #cdcccc;
    color: transparent;
    width: 40px;
    height: 40px;
    @include transition();

    &:hover {
      background-color: $orange;
    }
  }
  .slick-prev{
    left: -30px;
    position: absolute;
    &:after {
      position: absolute;
      content: '';
      @include sprite($s-arrow-slick);
      left: 7px;
      top: 8px;
      transform: rotate(180deg);
    }
  }
  .slick-next{
    right: -30px;
    position: absolute;
    &:after {
      position: absolute;
      content: '';
      @include sprite($s-arrow-slick);
      left: 7px;
      top: 8px;
    }
  }
  &__item {
    display: inline-block;
    list-style-type: none;
  }
  &__list {
    display: inline;
    padding: 0;
    position: relative;
    &:before {
      position: absolute;
      content: '<';
      left: -20px;
      top: -1px;
    }
    &:after {
      position: absolute;
      content: '>';
      right: -18px;
      top: -1px;
    }
  }
  &__item {
    padding: 0 3px;
  }
  &__link {
    font-family: $font-family-semibold;
    color: $black;
    &--active {
      color: $orange;
    }
    &:hover {
      color: $orange;
    }
  }
}

.reviews-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/reviews-bgr.jpg);
  background-size: cover;
  min-height: 200px;
  color: $white;
  &__title {
    font-size: 24px;
    font-family: $font-family-semibold;
    text-transform: uppercase;
  }
}

.reviews-form {
  background-color: #f5f6f9;
  padding: 20px 0;
  text-align: center;
  &__title {
    font-size: 20px;
    font-family: $font-family-semibold;
    text-transform: uppercase;
  }
}

  .reviews--page {
    .reviews__wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
    @include mq($from:xs, $until:md){
      flex-direction: column;
    }
    .reviews__column {
       flex: 0 0 45%;
      @include mq($from:xs, $until:md){
        flex: 0 0 100%;
      }
    }
  }
}