.services{
  text-align: center;
  padding: 25px 0;

  &__title{
    font-family: $font-family-semibold;
    font-size: 24px;
    text-transform: uppercase;
    &--page {
      font-size: 20px;
    }
  }
  &__switcher{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    @include mq($from:xs, $until:md){
      flex-direction: column;
    }
  }
  &__link{
    display: block;
    margin: 0 20px;
    text-transform: uppercase;
    position: relative;
    color: $black;
    font-family: $font-family-semibold;
    border: 2px solid transparent;
    @include mq($from:xs, $until:md){
      margin-bottom: 5px;
    }
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      left: 0;
      bottom: -5px;
    }
    &:hover, &:focus, &:active{
      &:after{;
        background-color: $orange;
      }
      @include mq($from:xs, $until:md){
        border: 2px solid $orange;
        border-radius: 10px;
        &:after {
          display: none;
        }
      }
    }
    &--active{
      &:after{
        background-color: $orange;
      }
      @include mq($from:xs, $until:md){
        border: 2px solid $orange;
        border-radius: 10px;
        &:after {
          display: none;
        }
      }
    }
  }
}

.services-type{
  display: none;
  font-size: 16px;
  text-transform: none;
  font-family: $font-family;
  &:first-of-type{
    display: block;
  }
  &__wrapper--production {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-align: left;
    justify-content: center;
    @include mq($from:xs, $until:md){
      flex-direction: column;
    }
  }
  &__wrapper--docks {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-align: left;
    padding-top: 15px;
    @include mq($from:xs, $until:md){
      flex-direction: column;
    }
  }
  &__list{
    list-style-type: none;
    &--production {
      flex: 0 0 30%;
    }
    &--docks{
      flex: 0 0 33.3%;
    }
  }
  &__item-production {
    padding: 30px 15px 0;
    position: relative;
    a {
      color: $black;
      @include transition();
      &:hover {
        color: $dark-orange;
      }
    }
    &:before {
      position: absolute;
      content: '';
      left: -30px;
    }
    &--serv1 {
      &:before {
        @include sprite($s-serv1);
      }
    }
    &--serv2 {
      &:before {
        @include sprite($s-serv2);
      }
    }
    &--serv3 {
      &:before {
        @include sprite($s-serv3);
      }
    }
    &--serv4 {
      &:before {
        @include sprite($s-serv4);
      }
    }
    &--serv5 {
      &:before {
        @include sprite($s-serv5);
      }
    }
    &--serv6 {
      &:before {
        @include sprite($s-serv6);
      }
    }
    &--serv7 {
      &:before {
        @include sprite($s-serv7);
      }
    }
    &--serv8 {
      &:before {
        @include sprite($s-serv8);
      }
    }
    &--serv9 {
      &:before {
        @include sprite($s-serv9);
      }
    }
    &--serv10 {
      &:before {
        @include sprite($s-serv10);
      }
    }
    &--serv11 {
      &:before {
        @include sprite($s-serv11);
      }
    }
    &--serv12 {
      &:before {
        @include sprite($s-serv12);
      }
    }
    &--serv13 {
      &:before {
        @include sprite($s-serv13);
      }
    }
    &--serv14 {
      &:before {
        @include sprite($s-serv14);
      }
    }
    &--serv15 {
      &:before {
        @include sprite($s-serv15);
      }
    }
    &--serv16 {
      &:before {
        @include sprite($s-serv16);
      }
    }
    &--serv17 {
      &:before {
        @include sprite($s-serv17);
      }
    }
    &--serv18 {
      &:before {
        @include sprite($s-serv18);
      }
    }
  }
  &__item--docks {
    text-align: left;
    font-family: $font-family-semibold;
    color: $orange;
    font-size: 18px;
    padding-left: 15px;
    position: relative;
    padding-bottom: 25px;
    > a {
      color: $orange;
      margin-bottom: 15px;
      display: block;
      @include transition();
      &:hover {
        color: $dark-orange;
      }
    }
    &:before {
      position: absolute;
      content: '';
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: $orange;
      left: 0;
      top: 12px;
    }
  }
  &__sublist-docs {
    font-size: 16px;
    font-family: $font-family;
    padding-left: 0;
  }
  &__subitem-docks {
    list-style-type: none;
    > a {
      color: $black;
      @include transition();
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.services-page {
  background-image: url(../img/services-bgr.jpg);
  background-size: cover;
  min-height: 200px;
  color: $white;
  text-align: center;
  &__title {
    padding-top: 70px;
    text-transform: uppercase;
    font-family: $font-family-semibold;
    font-size: 24px;
  }
  &__form {
    width: 40%;
    position: relative;
    margin-left: 30%;
    @include mq($from:xs, $until:md){
      width: calc(100% - 40px);
      margin: 0 20px;
    }
  }
  &__input {
    padding: 5px 10px 9px;
    width: 100%;
    border: 1px solid $grey-border;
    border-bottom: none;
    color: $black;
    background-color: $white;
    box-shadow: inset 0 -4px 0 rgba(182,182,183,1);
    outline: transparent;
    font-size: 15px;
    border-radius: 3px;
    &:focus::-webkit-input-placeholder{
      color: $black;
    }
    &:focus::placeholder{
      color: $black;
    }
  }
  &__button {
    border-radius: 0 3px 3px 0;
    top: 0;
    right: 0;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    height: 100%;
    margin: 0;
    font-family: $font-family-semibold;
    @include transition();
    background-color: $orange;
    box-shadow: inset 0 -4px 0 $dark-orange;
    font-size: 15px;
    color: $white;
    outline: none;
    border: none;
    padding-bottom: 12px;
    &:hover, &:focus, &:active{
      background-color: $dark-orange;
    }
    a {
      color: $white;
    }
  }
}
