// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-advantage1-name: 's-advantage1';
$s-advantage1-x: 51px;
$s-advantage1-y: 295px;
$s-advantage1-offset-x: -51px;
$s-advantage1-offset-y: -295px;
$s-advantage1-width: 40px;
$s-advantage1-height: 51px;
$s-advantage1-total-width: 513px;
$s-advantage1-total-height: 488px;
$s-advantage1-image: '../img/png-sprite.png';
$s-advantage1: (51px, 295px, -51px, -295px, 40px, 51px, 513px, 488px, '../img/png-sprite.png', 's-advantage1', );
$s-advantage2-name: 's-advantage2';
$s-advantage2-x: 0px;
$s-advantage2-y: 403px;
$s-advantage2-offset-x: 0px;
$s-advantage2-offset-y: -403px;
$s-advantage2-width: 35px;
$s-advantage2-height: 55px;
$s-advantage2-total-width: 513px;
$s-advantage2-total-height: 488px;
$s-advantage2-image: '../img/png-sprite.png';
$s-advantage2: (0px, 403px, 0px, -403px, 35px, 55px, 513px, 488px, '../img/png-sprite.png', 's-advantage2', );
$s-advantage3-name: 's-advantage3';
$s-advantage3-x: 418px;
$s-advantage3-y: 206px;
$s-advantage3-offset-x: -418px;
$s-advantage3-offset-y: -206px;
$s-advantage3-width: 51px;
$s-advantage3-height: 48px;
$s-advantage3-total-width: 513px;
$s-advantage3-total-height: 488px;
$s-advantage3-image: '../img/png-sprite.png';
$s-advantage3: (418px, 206px, -418px, -206px, 51px, 48px, 513px, 488px, '../img/png-sprite.png', 's-advantage3', );
$s-advantage4-name: 's-advantage4';
$s-advantage4-x: 0px;
$s-advantage4-y: 295px;
$s-advantage4-offset-x: 0px;
$s-advantage4-offset-y: -295px;
$s-advantage4-width: 50px;
$s-advantage4-height: 52px;
$s-advantage4-total-width: 513px;
$s-advantage4-total-height: 488px;
$s-advantage4-image: '../img/png-sprite.png';
$s-advantage4: (0px, 295px, 0px, -295px, 50px, 52px, 513px, 488px, '../img/png-sprite.png', 's-advantage4', );
$s-arrow-left-name: 's-arrow-left';
$s-arrow-left-x: 502px;
$s-arrow-left-y: 206px;
$s-arrow-left-offset-x: -502px;
$s-arrow-left-offset-y: -206px;
$s-arrow-left-width: 9px;
$s-arrow-left-height: 15px;
$s-arrow-left-total-width: 513px;
$s-arrow-left-total-height: 488px;
$s-arrow-left-image: '../img/png-sprite.png';
$s-arrow-left: (502px, 206px, -502px, -206px, 9px, 15px, 513px, 488px, '../img/png-sprite.png', 's-arrow-left', );
$s-arrow-right-name: 's-arrow-right';
$s-arrow-right-x: 504px;
$s-arrow-right-y: 258px;
$s-arrow-right-offset-x: -504px;
$s-arrow-right-offset-y: -258px;
$s-arrow-right-width: 9px;
$s-arrow-right-height: 15px;
$s-arrow-right-total-width: 513px;
$s-arrow-right-total-height: 488px;
$s-arrow-right-image: '../img/png-sprite.png';
$s-arrow-right: (504px, 258px, -504px, -258px, 9px, 15px, 513px, 488px, '../img/png-sprite.png', 's-arrow-right', );
$s-arrow-slick-name: 's-arrow-slick';
$s-arrow-slick-x: 146px;
$s-arrow-slick-y: 348px;
$s-arrow-slick-offset-x: -146px;
$s-arrow-slick-offset-y: -348px;
$s-arrow-slick-width: 24px;
$s-arrow-slick-height: 22px;
$s-arrow-slick-total-width: 513px;
$s-arrow-slick-total-height: 488px;
$s-arrow-slick-image: '../img/png-sprite.png';
$s-arrow-slick: (146px, 348px, -146px, -348px, 24px, 22px, 513px, 488px, '../img/png-sprite.png', 's-arrow-slick', );
$s-arrow-down-name: 's-arrow_down';
$s-arrow-down-x: 471px;
$s-arrow-down-y: 188px;
$s-arrow-down-offset-x: -471px;
$s-arrow-down-offset-y: -188px;
$s-arrow-down-width: 12px;
$s-arrow-down-height: 13px;
$s-arrow-down-total-width: 513px;
$s-arrow-down-total-height: 488px;
$s-arrow-down-image: '../img/png-sprite.png';
$s-arrow-down: (471px, 188px, -471px, -188px, 12px, 13px, 513px, 488px, '../img/png-sprite.png', 's-arrow_down', );
$s-footer-fb-name: 's-footer_fb';
$s-footer-fb-x: 36px;
$s-footer-fb-y: 429px;
$s-footer-fb-offset-x: -36px;
$s-footer-fb-offset-y: -429px;
$s-footer-fb-width: 16px;
$s-footer-fb-height: 27px;
$s-footer-fb-total-width: 513px;
$s-footer-fb-total-height: 488px;
$s-footer-fb-image: '../img/png-sprite.png';
$s-footer-fb: (36px, 429px, -36px, -429px, 16px, 27px, 513px, 488px, '../img/png-sprite.png', 's-footer_fb', );
$s-footer-gplus-name: 's-footer_gplus';
$s-footer-gplus-x: 142px;
$s-footer-gplus-y: 295px;
$s-footer-gplus-offset-x: -142px;
$s-footer-gplus-offset-y: -295px;
$s-footer-gplus-width: 24px;
$s-footer-gplus-height: 30px;
$s-footer-gplus-total-width: 513px;
$s-footer-gplus-total-height: 488px;
$s-footer-gplus-image: '../img/png-sprite.png';
$s-footer-gplus: (142px, 295px, -142px, -295px, 24px, 30px, 513px, 488px, '../img/png-sprite.png', 's-footer_gplus', );
$s-footer-vk-name: 's-footer_vk';
$s-footer-vk-x: 470px;
$s-footer-vk-y: 234px;
$s-footer-vk-offset-x: -470px;
$s-footer-vk-offset-y: -234px;
$s-footer-vk-width: 34px;
$s-footer-vk-height: 20px;
$s-footer-vk-total-width: 513px;
$s-footer-vk-total-height: 488px;
$s-footer-vk-image: '../img/png-sprite.png';
$s-footer-vk: (470px, 234px, -470px, -234px, 34px, 20px, 513px, 488px, '../img/png-sprite.png', 's-footer_vk', );
$s-header-skype-name: 's-header_skype';
$s-header-skype-x: 366px;
$s-header-skype-y: 258px;
$s-header-skype-offset-x: -366px;
$s-header-skype-offset-y: -258px;
$s-header-skype-width: 27px;
$s-header-skype-height: 27px;
$s-header-skype-total-width: 513px;
$s-header-skype-total-height: 488px;
$s-header-skype-image: '../img/png-sprite.png';
$s-header-skype: (366px, 258px, -366px, -258px, 27px, 27px, 513px, 488px, '../img/png-sprite.png', 's-header_skype', );
$s-header-telegram-name: 's-header_telegram';
$s-header-telegram-x: 450px;
$s-header-telegram-y: 258px;
$s-header-telegram-offset-x: -450px;
$s-header-telegram-offset-y: -258px;
$s-header-telegram-width: 27px;
$s-header-telegram-height: 27px;
$s-header-telegram-total-width: 513px;
$s-header-telegram-total-height: 488px;
$s-header-telegram-image: '../img/png-sprite.png';
$s-header-telegram: (450px, 258px, -450px, -258px, 27px, 27px, 513px, 488px, '../img/png-sprite.png', 's-header_telegram', );
$s-header-viber-name: 's-header_viber';
$s-header-viber-x: 394px;
$s-header-viber-y: 258px;
$s-header-viber-offset-x: -394px;
$s-header-viber-offset-y: -258px;
$s-header-viber-width: 27px;
$s-header-viber-height: 27px;
$s-header-viber-total-width: 513px;
$s-header-viber-total-height: 488px;
$s-header-viber-image: '../img/png-sprite.png';
$s-header-viber: (394px, 258px, -394px, -258px, 27px, 27px, 513px, 488px, '../img/png-sprite.png', 's-header_viber', );
$s-header-whatsapp-name: 's-header_whatsapp';
$s-header-whatsapp-x: 422px;
$s-header-whatsapp-y: 258px;
$s-header-whatsapp-offset-x: -422px;
$s-header-whatsapp-offset-y: -258px;
$s-header-whatsapp-width: 27px;
$s-header-whatsapp-height: 27px;
$s-header-whatsapp-total-width: 513px;
$s-header-whatsapp-total-height: 488px;
$s-header-whatsapp-image: '../img/png-sprite.png';
$s-header-whatsapp: (422px, 258px, -422px, -258px, 27px, 27px, 513px, 488px, '../img/png-sprite.png', 's-header_whatsapp', );
$s-icon-doc-name: 's-icon-doc';
$s-icon-doc-x: 275px;
$s-icon-doc-y: 295px;
$s-icon-doc-offset-x: -275px;
$s-icon-doc-offset-y: -295px;
$s-icon-doc-width: 17px;
$s-icon-doc-height: 18px;
$s-icon-doc-total-width: 513px;
$s-icon-doc-total-height: 488px;
$s-icon-doc-image: '../img/png-sprite.png';
$s-icon-doc: (275px, 295px, -275px, -295px, 17px, 18px, 513px, 488px, '../img/png-sprite.png', 's-icon-doc', );
$s-icon-down-name: 's-icon-down';
$s-icon-down-x: 505px;
$s-icon-down-y: 151px;
$s-icon-down-offset-x: -505px;
$s-icon-down-offset-y: -151px;
$s-icon-down-width: 8px;
$s-icon-down-height: 5px;
$s-icon-down-total-width: 513px;
$s-icon-down-total-height: 488px;
$s-icon-down-image: '../img/png-sprite.png';
$s-icon-down: (505px, 151px, -505px, -151px, 8px, 5px, 513px, 488px, '../img/png-sprite.png', 's-icon-down', );
$s-manager-icq-name: 's-manager_icq';
$s-manager-icq-x: 478px;
$s-manager-icq-y: 258px;
$s-manager-icq-offset-x: -478px;
$s-manager-icq-offset-y: -258px;
$s-manager-icq-width: 25px;
$s-manager-icq-height: 26px;
$s-manager-icq-total-width: 513px;
$s-manager-icq-total-height: 488px;
$s-manager-icq-image: '../img/png-sprite.png';
$s-manager-icq: (478px, 258px, -478px, -258px, 25px, 26px, 513px, 488px, '../img/png-sprite.png', 's-manager_icq', );
$s-manager-skype-name: 's-manager_skype';
$s-manager-skype-x: 122px;
$s-manager-skype-y: 348px;
$s-manager-skype-offset-x: -122px;
$s-manager-skype-offset-y: -348px;
$s-manager-skype-width: 23px;
$s-manager-skype-height: 23px;
$s-manager-skype-total-width: 513px;
$s-manager-skype-total-height: 488px;
$s-manager-skype-image: '../img/png-sprite.png';
$s-manager-skype: (122px, 348px, -122px, -348px, 23px, 23px, 513px, 488px, '../img/png-sprite.png', 's-manager_skype', );
$s-manager-tel-name: 's-manager_tel';
$s-manager-tel-x: 48px;
$s-manager-tel-y: 348px;
$s-manager-tel-offset-x: -48px;
$s-manager-tel-offset-y: -348px;
$s-manager-tel-width: 24px;
$s-manager-tel-height: 24px;
$s-manager-tel-total-width: 513px;
$s-manager-tel-total-height: 488px;
$s-manager-tel-image: '../img/png-sprite.png';
$s-manager-tel: (48px, 348px, -48px, -348px, 24px, 24px, 513px, 488px, '../img/png-sprite.png', 's-manager_tel', );
$s-pdf4-name: 's-pdf4';
$s-pdf4-x: 366px;
$s-pdf4-y: 151px;
$s-pdf4-offset-x: -366px;
$s-pdf4-offset-y: -151px;
$s-pdf4-width: 58px;
$s-pdf4-height: 54px;
$s-pdf4-total-width: 513px;
$s-pdf4-total-height: 488px;
$s-pdf4-image: '../img/png-sprite.png';
$s-pdf4: (366px, 151px, -366px, -151px, 58px, 54px, 513px, 488px, '../img/png-sprite.png', 's-pdf4', );
$s-review1-name: 's-review1';
$s-review1-x: 366px;
$s-review1-y: 0px;
$s-review1-offset-x: -366px;
$s-review1-offset-y: 0px;
$s-review1-width: 147px;
$s-review1-height: 150px;
$s-review1-total-width: 513px;
$s-review1-total-height: 488px;
$s-review1-image: '../img/png-sprite.png';
$s-review1: (366px, 0px, -366px, 0px, 147px, 150px, 513px, 488px, '../img/png-sprite.png', 's-review1', );
$s-review2-name: 's-review2';
$s-review2-x: 0px;
$s-review2-y: 0px;
$s-review2-offset-x: 0px;
$s-review2-offset-y: 0px;
$s-review2-width: 365px;
$s-review2-height: 294px;
$s-review2-total-width: 513px;
$s-review2-total-height: 488px;
$s-review2-image: '../img/png-sprite.png';
$s-review2: (0px, 0px, 0px, 0px, 365px, 294px, 513px, 488px, '../img/png-sprite.png', 's-review2', );
$s-serv1-name: 's-serv1';
$s-serv1-x: 36px;
$s-serv1-y: 403px;
$s-serv1-offset-x: -36px;
$s-serv1-offset-y: -403px;
$s-serv1-width: 19px;
$s-serv1-height: 25px;
$s-serv1-total-width: 513px;
$s-serv1-total-height: 488px;
$s-serv1-image: '../img/png-sprite.png';
$s-serv1: (36px, 403px, -36px, -403px, 19px, 25px, 513px, 488px, '../img/png-sprite.png', 's-serv1', );
$s-serv10-name: 's-serv10';
$s-serv10-x: 167px;
$s-serv10-y: 295px;
$s-serv10-offset-x: -167px;
$s-serv10-offset-y: -295px;
$s-serv10-width: 24px;
$s-serv10-height: 27px;
$s-serv10-total-width: 513px;
$s-serv10-total-height: 488px;
$s-serv10-image: '../img/png-sprite.png';
$s-serv10: (167px, 295px, -167px, -295px, 24px, 27px, 513px, 488px, '../img/png-sprite.png', 's-serv10', );
$s-serv11-name: 's-serv11';
$s-serv11-x: 425px;
$s-serv11-y: 188px;
$s-serv11-offset-x: -425px;
$s-serv11-offset-y: -188px;
$s-serv11-width: 45px;
$s-serv11-height: 16px;
$s-serv11-total-width: 513px;
$s-serv11-total-height: 488px;
$s-serv11-image: '../img/png-sprite.png';
$s-serv11: (425px, 188px, -425px, -188px, 45px, 16px, 513px, 488px, '../img/png-sprite.png', 's-serv11', );
$s-serv12-name: 's-serv12';
$s-serv12-x: 73px;
$s-serv12-y: 348px;
$s-serv12-offset-x: -73px;
$s-serv12-offset-y: -348px;
$s-serv12-width: 24px;
$s-serv12-height: 24px;
$s-serv12-total-width: 513px;
$s-serv12-total-height: 488px;
$s-serv12-image: '../img/png-sprite.png';
$s-serv12: (73px, 348px, -73px, -348px, 24px, 24px, 513px, 488px, '../img/png-sprite.png', 's-serv12', );
$s-serv13-name: 's-serv13';
$s-serv13-x: 219px;
$s-serv13-y: 295px;
$s-serv13-offset-x: -219px;
$s-serv13-offset-y: -295px;
$s-serv13-width: 27px;
$s-serv13-height: 22px;
$s-serv13-total-width: 513px;
$s-serv13-total-height: 488px;
$s-serv13-image: '../img/png-sprite.png';
$s-serv13: (219px, 295px, -219px, -295px, 27px, 22px, 513px, 488px, '../img/png-sprite.png', 's-serv13', );
$s-serv14-name: 's-serv14';
$s-serv14-x: 0px;
$s-serv14-y: 459px;
$s-serv14-offset-x: 0px;
$s-serv14-offset-y: -459px;
$s-serv14-width: 11px;
$s-serv14-height: 29px;
$s-serv14-total-width: 513px;
$s-serv14-total-height: 488px;
$s-serv14-image: '../img/png-sprite.png';
$s-serv14: (0px, 459px, 0px, -459px, 11px, 29px, 513px, 488px, '../img/png-sprite.png', 's-serv14', );
$s-serv15-name: 's-serv15';
$s-serv15-x: 247px;
$s-serv15-y: 295px;
$s-serv15-offset-x: -247px;
$s-serv15-offset-y: -295px;
$s-serv15-width: 27px;
$s-serv15-height: 20px;
$s-serv15-total-width: 513px;
$s-serv15-total-height: 488px;
$s-serv15-image: '../img/png-sprite.png';
$s-serv15: (247px, 295px, -247px, -295px, 27px, 20px, 513px, 488px, '../img/png-sprite.png', 's-serv15', );
$s-serv16-name: 's-serv16';
$s-serv16-x: 133px;
$s-serv16-y: 373px;
$s-serv16-offset-x: -133px;
$s-serv16-offset-y: -373px;
$s-serv16-width: 19px;
$s-serv16-height: 23px;
$s-serv16-total-width: 513px;
$s-serv16-total-height: 488px;
$s-serv16-image: '../img/png-sprite.png';
$s-serv16: (133px, 373px, -133px, -373px, 19px, 23px, 513px, 488px, '../img/png-sprite.png', 's-serv16', );
$s-serv17-name: 's-serv17';
$s-serv17-x: 74px;
$s-serv17-y: 403px;
$s-serv17-offset-x: -74px;
$s-serv17-offset-y: -403px;
$s-serv17-width: 16px;
$s-serv17-height: 25px;
$s-serv17-total-width: 513px;
$s-serv17-total-height: 488px;
$s-serv17-image: '../img/png-sprite.png';
$s-serv17: (74px, 403px, -74px, -403px, 16px, 25px, 513px, 488px, '../img/png-sprite.png', 's-serv17', );
$s-serv18-name: 's-serv18';
$s-serv18-x: 470px;
$s-serv18-y: 206px;
$s-serv18-offset-x: -470px;
$s-serv18-offset-y: -206px;
$s-serv18-width: 31px;
$s-serv18-height: 27px;
$s-serv18-total-width: 513px;
$s-serv18-total-height: 488px;
$s-serv18-image: '../img/png-sprite.png';
$s-serv18: (470px, 206px, -470px, -206px, 31px, 27px, 513px, 488px, '../img/png-sprite.png', 's-serv18', );
$s-serv2-name: 's-serv2';
$s-serv2-x: 48px;
$s-serv2-y: 373px;
$s-serv2-offset-x: -48px;
$s-serv2-offset-y: -373px;
$s-serv2-width: 20px;
$s-serv2-height: 28px;
$s-serv2-total-width: 513px;
$s-serv2-total-height: 488px;
$s-serv2-image: '../img/png-sprite.png';
$s-serv2: (48px, 373px, -48px, -373px, 20px, 28px, 513px, 488px, '../img/png-sprite.png', 's-serv2', );
$s-serv3-name: 's-serv3';
$s-serv3-x: 91px;
$s-serv3-y: 373px;
$s-serv3-offset-x: -91px;
$s-serv3-offset-y: -373px;
$s-serv3-width: 21px;
$s-serv3-height: 24px;
$s-serv3-total-width: 513px;
$s-serv3-total-height: 488px;
$s-serv3-image: '../img/png-sprite.png';
$s-serv3: (91px, 373px, -91px, -373px, 21px, 24px, 513px, 488px, '../img/png-sprite.png', 's-serv3', );
$s-serv4-name: 's-serv4';
$s-serv4-x: 98px;
$s-serv4-y: 348px;
$s-serv4-offset-x: -98px;
$s-serv4-offset-y: -348px;
$s-serv4-width: 23px;
$s-serv4-height: 23px;
$s-serv4-total-width: 513px;
$s-serv4-total-height: 488px;
$s-serv4-image: '../img/png-sprite.png';
$s-serv4: (98px, 348px, -98px, -348px, 23px, 23px, 513px, 488px, '../img/png-sprite.png', 's-serv4', );
$s-serv5-name: 's-serv5';
$s-serv5-x: 192px;
$s-serv5-y: 295px;
$s-serv5-offset-x: -192px;
$s-serv5-offset-y: -295px;
$s-serv5-width: 26px;
$s-serv5-height: 23px;
$s-serv5-total-width: 513px;
$s-serv5-total-height: 488px;
$s-serv5-image: '../img/png-sprite.png';
$s-serv5: (192px, 295px, -192px, -295px, 26px, 23px, 513px, 488px, '../img/png-sprite.png', 's-serv5', );
$s-serv6-name: 's-serv6';
$s-serv6-x: 69px;
$s-serv6-y: 373px;
$s-serv6-offset-x: -69px;
$s-serv6-offset-y: -373px;
$s-serv6-width: 21px;
$s-serv6-height: 24px;
$s-serv6-total-width: 513px;
$s-serv6-total-height: 488px;
$s-serv6-image: '../img/png-sprite.png';
$s-serv6: (69px, 373px, -69px, -373px, 21px, 24px, 513px, 488px, '../img/png-sprite.png', 's-serv6', );
$s-serv7-name: 's-serv7';
$s-serv7-x: 113px;
$s-serv7-y: 373px;
$s-serv7-offset-x: -113px;
$s-serv7-offset-y: -373px;
$s-serv7-width: 19px;
$s-serv7-height: 24px;
$s-serv7-total-width: 513px;
$s-serv7-total-height: 488px;
$s-serv7-image: '../img/png-sprite.png';
$s-serv7: (113px, 373px, -113px, -373px, 19px, 24px, 513px, 488px, '../img/png-sprite.png', 's-serv7', );
$s-serv8-name: 's-serv8';
$s-serv8-x: 171px;
$s-serv8-y: 348px;
$s-serv8-offset-x: -171px;
$s-serv8-offset-y: -348px;
$s-serv8-width: 23px;
$s-serv8-height: 21px;
$s-serv8-total-width: 513px;
$s-serv8-total-height: 488px;
$s-serv8-image: '../img/png-sprite.png';
$s-serv8: (171px, 348px, -171px, -348px, 23px, 21px, 513px, 488px, '../img/png-sprite.png', 's-serv8', );
$s-serv9-name: 's-serv9';
$s-serv9-x: 56px;
$s-serv9-y: 403px;
$s-serv9-offset-x: -56px;
$s-serv9-offset-y: -403px;
$s-serv9-width: 17px;
$s-serv9-height: 25px;
$s-serv9-total-width: 513px;
$s-serv9-total-height: 488px;
$s-serv9-image: '../img/png-sprite.png';
$s-serv9: (56px, 403px, -56px, -403px, 17px, 25px, 513px, 488px, '../img/png-sprite.png', 's-serv9', );
$s-work1-name: 's-work1';
$s-work1-x: 366px;
$s-work1-y: 206px;
$s-work1-offset-x: -366px;
$s-work1-offset-y: -206px;
$s-work1-width: 51px;
$s-work1-height: 51px;
$s-work1-total-width: 513px;
$s-work1-total-height: 488px;
$s-work1-image: '../img/png-sprite.png';
$s-work1: (366px, 206px, -366px, -206px, 51px, 51px, 513px, 488px, '../img/png-sprite.png', 's-work1', );
$s-work2-name: 's-work2';
$s-work2-x: 92px;
$s-work2-y: 295px;
$s-work2-offset-x: -92px;
$s-work2-offset-y: -295px;
$s-work2-width: 49px;
$s-work2-height: 40px;
$s-work2-total-width: 513px;
$s-work2-total-height: 488px;
$s-work2-image: '../img/png-sprite.png';
$s-work2: (92px, 295px, -92px, -295px, 49px, 40px, 513px, 488px, '../img/png-sprite.png', 's-work2', );
$s-work3-name: 's-work3';
$s-work3-x: 425px;
$s-work3-y: 151px;
$s-work3-offset-x: -425px;
$s-work3-offset-y: -151px;
$s-work3-width: 79px;
$s-work3-height: 36px;
$s-work3-total-width: 513px;
$s-work3-total-height: 488px;
$s-work3-image: '../img/png-sprite.png';
$s-work3: (425px, 151px, -425px, -151px, 79px, 36px, 513px, 488px, '../img/png-sprite.png', 's-work3', );
$s-work4-name: 's-work4';
$s-work4-x: 0px;
$s-work4-y: 348px;
$s-work4-offset-x: 0px;
$s-work4-offset-y: -348px;
$s-work4-width: 47px;
$s-work4-height: 54px;
$s-work4-total-width: 513px;
$s-work4-total-height: 488px;
$s-work4-image: '../img/png-sprite.png';
$s-work4: (0px, 348px, 0px, -348px, 47px, 54px, 513px, 488px, '../img/png-sprite.png', 's-work4', );
$spritesheet-width: 513px;
$spritesheet-height: 488px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-advantage1, $s-advantage2, $s-advantage3, $s-advantage4, $s-arrow-left, $s-arrow-right, $s-arrow-slick, $s-arrow-down, $s-footer-fb, $s-footer-gplus, $s-footer-vk, $s-header-skype, $s-header-telegram, $s-header-viber, $s-header-whatsapp, $s-icon-doc, $s-icon-down, $s-manager-icq, $s-manager-skype, $s-manager-tel, $s-pdf4, $s-review1, $s-review2, $s-serv1, $s-serv10, $s-serv11, $s-serv12, $s-serv13, $s-serv14, $s-serv15, $s-serv16, $s-serv17, $s-serv18, $s-serv2, $s-serv3, $s-serv4, $s-serv5, $s-serv6, $s-serv7, $s-serv8, $s-serv9, $s-work1, $s-work2, $s-work3, $s-work4, );
$spritesheet: (513px, 488px, '../img/png-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
