include ../abstracts/bemto/bemto.pug

//Advantages
+b.SECTION.advantages
  .container
    +e.H2.title ПРЕИМУЩЕСТВА НАШЕЙ КОМПАНИИ
    +e.wrapper
      +e.box
        +e.H3.subtitle--first Гарантия: никаких подделок
        +e.P.text Мы работаем более 17 лет и дорожим своей репутацией, поэтому гарантируем предоставление только оригинальных документов
      +e.box
        +e.H3.subtitle--second Входим
          <br> в ситуацию
        +e.P.text Действительно индивидуальный подход. Разберем все нюансы вашей ситуации, поможем ускорить оформление или снизить стоимость
      +e.box
        +e.H3.subtitle--third Присутствие не обязательно
        +e.P.text Более 80% клиентов работаю с нами по электронной почте, а готовые документы мы бесплатно присылаем курьером
      +e.box
        +e.H3.subtitle--fourth Работаем
          <br> с 1999 года
        +e.P.text Мы постоянно отслеживаем изменения в законодательсте и предоставляем только актуальную информацию по современным стандартам