include ../abstracts/mixins/_client-slide.pug
include ../abstracts/bemto/bemto.pug

+b.SECTION.clients.container
  +e.H2.title Наши клиенты
  +e.gallery
    +clientSlide("partner1.png","partner1", "ООО Восход", "Lorem ipsum dolor sit amet")
    +clientSlide("partner2.png","partner2", "ООО Восход", "Lorem ipsum dolor sit amet, consectetur adipiscing")
    +clientSlide("partner3.png","partner3", "ООО Восход", "Lorem ipsum dolor sit amet, consectetur adipiscing")
    +clientSlide("partner1.png","partner1", "ООО Восход", "Lorem ipsum")
    +clientSlide("partner2.png","partner2", "ООО Восход", "Lorem ipsum dolor sit amet, consectetur adipiscing")
    +clientSlide("partner3.png","partner3", "ООО Восход", "Lorem ipsum dolor sit amet")
    +clientSlide("partner1.png","partner1", "ООО Восход", "Lorem ipsum dolor sit amet, consectetur adipiscing")
    +clientSlide("partner2.png","partner2", "ООО Восход", "Lorem ipsum dolor sit amet, consectetur adipiscing")
    +clientSlide("partner3.png","partner3", "ООО Восход", "Lorem ipsum dolor sit amet, consectetur adipiscing")