include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer.container
  +e.inner
    // Main nav menu
    +b.NAV.nav

+b.overlay
  //- .help-block-success Спасибо! Ваш запрос отправлен специалисту по сертификации


