include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_gratitude-slide.pug

+b.SECTION.gratitude.container
  +e.H2.title Благодарственные письма
  +e.gallery
    +gratitudeSlide("1.jpg","Отзыв 1", "ООО Восход", "Офрмление сертификата")
    +gratitudeSlide("2.jpg","Отзыв 2", "ООО Восход", "Офрмление сертификата Офрмление сертификата")
    +gratitudeSlide("3.jpg","Отзыв 3", "ООО Восход", "Офрмление сертификата")
    +gratitudeSlide("4.jpg","Отзыв 4", "ООО Восход", "Офрмление сертификата")
    +gratitudeSlide("1.jpg","Отзыв 1", "ООО Восход", "Офрмление сертификата")
    +gratitudeSlide("2.jpg","Отзыв 2", "ООО Восход", "Офрмление сертификата Офрмление сертификата")
    +gratitudeSlide("3.jpg","Отзыв 3", "ООО Восход", "Офрмление сертификата")
    +gratitudeSlide("4.jpg","Отзыв 4", "ООО Восход", "Офрмление сертификата")
