include ../abstracts/bemto/bemto.pug

+b.SECTION.interesting
  .container
    +e.H2.title  Вам может быть это интересно
    +e.wrapper
      +e.inner
        +e.img
          img(src="img/news1.jpg")
        +e.contant
          +e.A.subtitle(href="page.html") Может быть изменен порядок допуска лекарственных средств на отечественный рынок
          +e.P.text В Российской Федерации может быть изменен порядок допуска лекарственных...
      +e.inner
        +e.img
          img(src="img/news2.jpg")
        +e.contant
          +e.A.subtitle(href="page.html") Может быть изменен порядок допуска лекарственных средств на отечественный рынок
          +e.P.text  В Российской Федерации может быть изменен порядок допуска лекарственных средств на отечественный рынок – соответствующий документ был подготовлен Министерством ...
      +e.inner
        +e.img
          img(src="img/news1.jpg")
        +e.contant
          +e.A.subtitle(href="page.html") Может быть изменен порядок допуска лекарственных средств на отечественный рынок
          +e.P.text В Российской Федерации может быть изменен порядок допуска лекарственных...