include ../abstracts/mixins/_form.pug
include ../abstracts/bemto/bemto.pug

//Manger
+b.SECTION.manager
  .container
    +e.H2.title СПРОСИТЬ СПЕЦИАЛИСТА ПО ВОПРОСУ СЕРТИФИКАЦИИ
    +e.inner
      +e.box
        +e.img
          img(src="img/manager.jpg")
        +e.socials-wrapper
          +e.P.name Гузель Аманова
          +e.A.socials--phone(href="tel:+7888996614") +7 888 99-66-14
          +e.A.socials--skype(href="skype:guzelamanova") guzelamanova
          +e.P.socials--icq 677-836-554
      +e.box
        +form(question)