include ../abstracts/bemto/bemto.pug

+b.SECTION.news-header
  +e.H1.title Новости
  +e.FORM.form(action="" method="")
    +e.SELECT.select
      option Выберите тему
      option Новости 1
      option Новости 1
      option Новости 1
      option Новости 1
      option Новости 1
    +e.SPAN.button

+b.SECTION.news.container
  +e.inner
    +e.img
      img(src="img/news1.jpg")
    +e.contant
      +e.A.title(href="page.html") Может быть изменен порядок допуска лекарственных средств на отечественный рынок
      +e.P.text В Российской Федерации может быть изменен порядок допуска лекарственных средств на отечественный рынок – соответствующий документ был подготовлен Министерством здравоохранения Российской Федерации и в данный момент проходит этап общественного обсуждения. Согласно обсуждаемому документу, лекарственные средства не должны ...
      +e.P.date 8 марта, 2016г

  +e.inner
    +e.img
      img(src="img/news2.jpg")
    +e.contant
      +e.A.title(href="page.html") Может быть изменен порядок допуска лекарственных средств на отечественный рынок
      +e.P.text В Российской Федерации может быть изменен порядок допуска лекарственных средств на отечественный рынок – соответствующий документ был подготовлен Министерством здравоохранения Российской Федерации и в данный момент проходит этап общественного обсуждения. Согласно обсуждаемому документу, лекарственные средства не должны ...
      +e.P.date 8 марта, 2016г

  +e.inner
    +e.img
      img(src="img/news1.jpg")
    +e.contant
      +e.A.title(href="page.html") Может быть изменен порядок допуска лекарственных средств на отечественный рынок
      +e.P.text В Российской Федерации может быть изменен порядок допуска лекарственных средств на отечественный рынок – соответствующий документ был подготовлен Министерством здравоохранения Российской Федерации и в данный момент проходит этап общественного обсуждения. Согласно обсуждаемому документу, лекарственные средства не должны ...
      +e.P.date 8 марта, 2016г

  +e.inner
    +e.img
      img(src="img/news2.jpg")
    +e.contant
      +e.A.title(href="page.html") Может быть изменен порядок допуска лекарственных средств на отечественный рынок
      +e.P.text В Российской Федерации может быть изменен порядок допуска лекарственных средств на отечественный рынок – соответствующий документ был подготовлен Министерством здравоохранения Российской Федерации и в данный момент проходит этап общественного обсуждения. Согласно обсуждаемому документу, лекарственные средства не должны ...
      +e.P.date 8 марта, 2016

  +e.UL.list
    +e.LI.item
      +e.A.link(href="#") 1
    +e.LI.item
      +e.A.link(href="#") 2
    +e.LI.item
      +e.A.link--active(href="#") 3
    +e.LI.item
      +e.A.link(href="#") 4
    +e.LI.item
      +e.A.link(href="#") 5