include ../abstracts/bemto/bemto.pug


+b.SECTION.page-header
  .container
    +e.H2.title Статья про офрмление
+b.ARTICLE.page
  .container
    +e.inner
      +e.box
        +e.H2.subtitle Заговловок второго уровня
        +e.flex-inner
          +e.wrapper
            +e.P.text Декларация пожарной безопасности Вам необходима для подтверждения соответствия товаров стандартам национального ТР «О  требованиях пожаробезопасности» (№123-ФЗ).  Подобная декларация является обязательной относительно товаров из 2го перечня продукции, подлежащей пожарной проверке, и выдается экспертами аккредитованного центра «Интергост». Вам потребуется такой документ для импорта, изготовления и распространения отдельных видов продукции.
            +e.P.text На какую продукцию следует оформлять пожарную декларацию?
            //- +e.P.text Для определения необходимости составления пожарной декларации нужно обратить внимание на конкретные параметрыПри подтверждении пожаробезопасности продукции нашим экспертам нужно знать, где именно Ваши изделия применяются. Например, при проверке отделочных материалов, применяемых для отделки зданий, Вам следует приобретать декларацию пожарной безопасности, однако при подтверждении соответствия тех же материалов, изготовленных для ремонтных работ подвижного железнодорожного состава, Вам потребуется приобрести сертификат пожарной безопасности
          +b.docks-inner
             img
        +e.P.text Декларация пожарной безопасности выдается как на товары (отделочные материалы, ковры и другое), так и на помещения, сооружения и здания.
        +e.P.text На кого регистрируется декларация?
        +e.P.text Стать обладателем пожарной декларации могут исключительно компании (производители, дистрибьюторы), которые зарегистрированы на территории России. Дело в том, что разрешение составляется от Вашего лица, следовательно, именно Вы являетесь ответственным за достоверность прописанных в декларации данных и качество выпускаемой в обращение продукции. Такая декларация действует только на территории РФ. 
        +e.P.text Содержание пожарной декларации
        +e.P.text Помимо сведений об объекте, компании-получателе, производителе и аккредитованном органе, пожарная декларация, оформленная в центре «Интергост», содержит следующую информацию:
        +e.UL.list
          +e.LI.item
            span Наименование товара;
          +e.LI.item
            span Наименование товара;
          +e.LI.item
            span Сфера его использования;