include ../abstracts/bemto/bemto.pug

+b.SECTION.services-page
  .container
    +e.wrapper
      +e.H1.title Услуги
      +e.FORM.form
        +e.INPUT.input(type='text', name='Поиск по тексту', placeholder='Поиск по тексту...')
        +e.BUTTON.button(type="submit") Найти
